<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- START Motion Chat Script --> 
  <!-- START Motion Chat Script -->
</head>
<body>
  <h1> <%= heading %> </h1>
  <h4> <%= text %> </h4>
  <h5> The time is: <%= time %> </h5>
<!-- START Motion Chat Script --> 
    <script src="https://development.local:443/api/chat/websites/1/snippet?token=uAoIchKr8XzFCyl3DcRemk5SFWWt5Qbe"></script> 
<!-- START Motion Chat Script -->


</html>